<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CaseStudyDraft</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Controller for user login</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ibm.cs.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controller for User CRUD operations</description>
    <display-name>UserManagementServlet</display-name>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>com.ibm.cs.controller.UserManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/UserManagement</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RequestFilter</display-name>
    <filter-name>RequestFilter</filter-name>
    <filter-class>com.ibm.cs.controller.RequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>Controller for product management</description>
    <display-name>ProductManagementServlet</display-name>
    <servlet-name>ProductManagementServlet</servlet-name>
    <servlet-class>com.ibm.cs.controller.ProductManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManagementServlet</servlet-name>
    <url-pattern>/ProductManagement</url-pattern>
  </servlet-mapping>
</web-app>