@charset "ISO-8859-1";

* {
    box-sizing: border-box;
}

body {
  margin: 0;
/*   overflow-x: scroll; */
}

/* styles for the header bar */
.header {
	display: block;
	width: 100%;
	height: 30px;
    background-color: #F1F1F1;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top:0;
    float: left;
}

.header h2 {
    padding: 0px;
    padding-left:5px;
    margin: 0px;
}

/* styles for navigation bar */
.nav {
    overflow: hidden;
    background-color: #333;
    padding: 0px;
    margin: 0px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 30px;
    width: 100%;
}

.nav li {
    float: left;
    border-right: 1px solid #bbb;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #111;
}

.nav li:last-child {
    border-right: none;
    float:right;
}

.content {
	clear:left;
	margin: 100px auto 0;
	padding: 5px;
/* 	overflow: auto; */
}

.active {
    background-color: #39CCCC;
}

th, td {
	min-width: 140px; 
	text-align: center;
}

/* .fixed_header{ */
/*     width: 400px; */
/*     table-layout: fixed; */
/*     border-collapse: collapse; */
/* } */

/* .fixed_header tbody{ */
/* 	display:block; */
/*   overflow: auto; */
/*   height: 100%; */
/*   width: 100%; */

/* 	overflow: auto; */
/*    display: block; */
/*    max-height: 1000px;     */
/* } */

/* .fixed_header tbody tr{ */
/* 	display: table; */
/*    width: 100%; */
/*    table-layout: fixed; */
/* } */

/* .fixed_header thead { */
/*   background: black; */
/*   color:#fff; */
/* display: table;   */
/*    width: 100%; */
/*    table-layout: fixed; */
/* } */

/* .fixed_header th, .fixed_header td { */
/*   padding: 5px; */
/*   text-align: left; */
/*   width: auto; */
/*   width: 200px; */
}